<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<p>
  <% if @user.ratings.empty? %>
      has made no ratings, does not have a favorite style or brewery
  <% else %>
      <%= "Has made #{pluralize(@user.ratings.count, 'rating')}, average #{@user.average_rating}" %>
    <p>Favorite beer style is <strong><%= @user.favorite_style %></strong>
      and favorite brewery is <strong><%= link_to @user.favorite_brewery.name, @user.favorite_brewery %></p>

    <h2>ratings</h2>
    <ul>
      <% @user.ratings.each do |rating| %>
          <li>
            <%= rating %>
            <% if @user == current_user %>
                <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li>
      <% end %>
    </ul>
<% end %>
</p>

<p>
  <% if @user.memberships.empty? %>
      has no memberships
  <% else %>
      <%= "Has #{pluralize(@user.memberships.count, 'membership')}" %>
    <h2>memberships</h2>
    <ul>
      <% @user.beer_clubs.each do |beerclub| %>
          <li> <%= link_to beerclub.to_s, beer_club_path(beerclub) %></li>
      <% end %>
    </ul>
<% end %>
</p>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Delete',@user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
