<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
  <% if @user.disabled %>
      <span class="label label-info">account disabled</span>
  <% end %>
</h1>

<p>
  <% if @user.ratings.empty? %>
      has made no ratings, does not have a favorite style or brewery
  <% else %>
      <%= "Has made #{pluralize(@user.ratings.count, 'rating')}, average #{round(@user.average_rating)}" %>
    <p>Favorite beer style is <strong><%= @user.favorite_style %></strong>
      and favorite brewery is <strong><%= link_to @user.favorite_brewery.name, @user.favorite_brewery %></p>

    <h2>ratings</h2>
    <ul>
      <% @user.ratings.each do |rating| %>
          <li>
            <%= rating %>
            <% if @user == current_user %>
                <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <% end %>
          </li>
      <% end %>
    </ul>
<% end %>
</p>

<p>
  <% if @user.memberships.empty? %>
      has no memberships
  <% else %>
      <%= "Has #{pluralize(@user.memberships.count, 'membership')}" %>
    <h2>member of</h2>
    <ul>
      <% @user.confirmed_in.each do |beerclub| %>
          <li> <%= link_to beerclub.to_s, beer_club_path(beerclub) %></li>
      <% end %>
    </ul>

    <h2>applied membership of</h2>
    <ul>
      <% @user.applicant_in.each do |beerclub| %>
          <li> <%= link_to beerclub.to_s, beer_club_path(beerclub) %></li>
      <% end %>
    </ul>
<% end %>
</p>

<% if current_user && current_user.admin %>
    <%= link_to (@user.disabled ? "enable account" : "disable account"), toggle_disabled_user_path(@user), method: :post, class: "btn btn-primary" %>
<% end %>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-success' %> |
    <%= link_to 'Delete',@user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
